Label{
	-fx-font-size: 25pt;
	-fx-pref-width: 300.0px;
	-fx-pref-height: 100.0px;
	-fx-alignment: center;
	-fx-border-color: black;
    -fx-border-insets: 10.0;
    -fx-border-width: 3.0;
    -fx-border-style: solid;
    -fx-font-family: 'Last Ninja';
}

#difficulty{
	-fx-padding: 0px 0px 100px 0px;
}

VBox{
	-fx-alignment: center;
}
HBox{
	-fx-alignment: center;
	-fx-padding: 0px 0px 100px 0px;
}
