BorderPane{
	-fx-background-color: #ECE9E0;
}

Label{
	-fx-font-size: 25pt;
	-fx-pref-width: 300.0px;
	-fx-pref-height: 100.0px;
	-fx-alignment: center;
	-fx-border-color: black;
    -fx-border-insets: 10.0;
    -fx-border-width: 3.0;
    -fx-border-style: solid;
    -fx-font-family: 'Last Ninja';
}

Button{
	-fx-background-color: #951f1f;
	-fx-text-fill: white;
	-fx-font-family: 'Last Ninja';
	-fx-font-size: 15.0pt;
	-fx-text-alignment: center;
	-fx-padding: 20.0px 35.0px 20.0px 35.0px;
}

#muteButton{
	-fx-min-width: 190px;
}

#difficulty{
	-fx-padding: 0px 0px 100px 0px;
}

VBox{
	-fx-alignment: center;
}

#muteBox{
	-fx-padding: 50px 0px 0px 0px;
}

HBox{
	-fx-alignment: center;
	-fx-padding: 0px 0px 50px 0px;
}
