BorderPane{
	-fx-background-color: #ECE9E0;
}

Label{
	-fx-font-size: 20.0pt;
	-fx-pref-width: 300.0px;
	-fx-pref-height: 100.0px;
	-fx-alignment: center;
	-fx-border-color: black;
    -fx-border-insets: 10.0;
    -fx-border-width: 3.0;
    -fx-border-style: solid;
    -fx-font-family: 'Last Ninja';
    -fx-text-fill: black;
}

#options{
	-fx-alignment: center;
	-fx-padding: 100px
}

VBox {
	-fx-alignment: center;
}

