#timer {
	-fx-font-size: 15.0pt;
	-fx-font-family: 'Last Ninja';
	-fx-min-width: 225.0px;
	-fx-max-width: 225.0px;
}

#statsBox {
	-fx-alignment: top-center;
}

VBox{
	-fx-alignment: center;
	-fx-padding: 0.0px 250.0px 0.0px 0.0px;
}

#notes1{
	-fx-font-family: 'Last Ninja';
	-fx-font-size: 10.0pt;
}

#giveup{
	-fx-font-family: 'Last Ninja';
	-fx-font-size: 15.0pt;
	-fx-text-alignment: center;
	-fx-padding: 20.0px 35.0px 20.0px 35.0px;
}

.cell {
    -fx-background-color:  black, -fx-base;
	-fx-font-size: 20.0pt;
	-fx-alignment: center;
    -fx-border-insets: 1.0;
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-min-width: 69.0px;
    -fx-min-height: 69.0px;
}

.cell:selected {
	-fx-background-color: black, lightgray;
}

.cell:right {
    -fx-background-insets: 0.0, 0.0 4.0 0.0 0.0;
}

.cell:bottom {
    -fx-background-insets: 0.0, 0.0 0.0 4.0 0.0;
}

.cell:right:bottom {
    -fx-background-insets: 0.0, 0.0 4.0 4.0 0.0;
}

.notes {
	-fx-background-color:  black, -fx-base;
	-fx-font-size: 11.0pt;
	-fx-alignment: center;
    -fx-border-insets: 1.0;
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-min-width: 69.0px;
    -fx-min-height: 69.0px;
    -fx-padding: 33.0%;
}

.note {
	-fx-alignment: center;
	-fx-min-height: 12.0px;
	-fx-min-width: 16.0px;
}

.notes:selected {
	-fx-background-color: black, lightgray;
}

.notes:right {
    -fx-background-insets: 0.0, 0.0 4.0 0.0 0.0;
}

.notes:bottom {
    -fx-background-insets: 0.0, 0.0 0.0 4.0 0.0;
}

.notes:right:bottom {
    -fx-background-insets: 0.0, 0.0 4.0 4.0 0.0;
}